.FormTemplate {
    min-height: calc(100vh - 165px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .form_main {
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        padding: 30px;
        // box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
        position: relative;
        overflow: hidden;
        border: none;
        border-radius: 20px;

        &::before {
            position: absolute;
            content: '';
            width: 300px;
            height: 500px;
            background-color: rgb(209, 193, 255);
            transform: rotate(45deg);
            left: -250px;
            bottom: -100px;
            z-index: 1;
            border-radius: 30px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
            transition: all 0.3s;
        }

        &:hover {
            &::before {
                left: -150px;
                // bottom: 50px;
                transform: rotate(25deg);
            }
        }

        .heading {
            font-size: 2.5rem;
            color: #2e2e2e;
            font-weight: 700;
            margin: 5px 0 10px 0;
            z-index: 2;
        }

        .inputContainer {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
            // border: 1px solid rgb(21, 0, 255);
            border-bottom: 2px solid rgb(173, 173, 173);
            margin-bottom: 20px;

            svg {
                color: black;
                font-size: 25px;
                // border: 1px solid rgb(21, 0, 255);
            }

            .inputField {
                width: 100%;
                height: 50px;
                background-color: transparent;
                border: none;
                // margin: 10px 0;
                color: black;
                font-size: 20px;
                font-weight: 500;
                box-sizing: border-box;
                padding-left: 30px;

                &:focus {
                    outline: none;
                    // border-bottom: 2px solid rgb(199, 114, 255);
                }

                &::placeholder {
                    color: rgb(80, 80, 80);
                    font-size: 1em;
                    font-weight: 500;
                }
            }
        }

        #button {
            z-index: 2;
            position: relative;
            width: 100%;
            border: none;
            background-color: rgb(162, 104, 255);
            height: 40px;
            color: white;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;
            margin: 10px;
            cursor: pointer;
            border: none;
            border-radius: 20px;
            transition: all 0.3s;

            &:hover {
                background-color: rgb(126, 84, 255);
            }
        }

        a {
            z-index: 2;
            font-size: 14px;
            font-weight: 500;
            color: rgb(44, 24, 128);
            text-decoration: none;
            padding: 8px 15px;
            border-radius: 20px;
        }

        p {
            z-index: 2;
            font-size: 14px;
            font-weight: 500;
            color: rgb(3, 3, 3);
        }
    }

}