@import './Variables.scss';

.About {
    min-height: calc(100vh - 165px);
    padding-inline: $paddingInline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;

    @media screen and (max-width: 900px) {
        padding-inline: $paddingInlineRespinsive;
    }

    >h1 {
        font-family: "Caveat", cursive;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 3rem;
        text-align: center;

        span {
            color: red;
        }
    }

    ul {
        margin-top: 20px;
        margin-bottom: 5px;
        display: block;
        list-style: disc;
        width: 100%;

        li {
            list-style-position: inside;
            margin: 10px;
            width: 100%;

            &::marker {
                color: red;
            }

            span {
                font-weight: bold;
                text-transform: uppercase;
                font-weight: bold;
                margin-right: 10px;
            }
        }
    }

    h1 {
        margin-bottom: 10px;
    }

    h2 {
        margin-block: 15px;
    }

    h3 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 70px;
        background: -webkit-gradient(linear, left top, right top, from(#6afdff), to(#ff8eec));
        background: -o-linear-gradient(left, #6afdff, #ff8eec);
        background: linear-gradient(to right, #6afdff, #ff8eec);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}