.About {
    min-height: calc(100vh - 165px);
    padding-inline: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    >h1 {
        font-family: "Caveat", cursive;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 3rem;
        text-align: center;
        span {
            color: red;
        }
    }
    b {
        letter-spacing: 1px;
    }
    li {
        list-style-position: inside;
    }
    >p {

    }
}