@import './Variables.scss';
.About {
    min-height: calc(100vh - 165px);
    padding-inline: $paddingInline;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media screen and (max-width: 900px) {
        padding-inline: $paddingInlineRespinsive;
    }

    >h1 {
        font-family: "Caveat", cursive;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 3rem;
        text-align: center;
        span {
            color: red;
        }
    }
    ul {
        // border: 1px solid red;
        margin-top: 20px;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
            width: 100%;
        li {
            list-style-position: inside;
            margin: 10px;
            width: 100%;
            // display: block;
            width: 360px;
            // border: 1px solid yellow;
            &::marker {
                color: red;
            }
            span {
                font-weight: bold;
                text-transform: uppercase;
                font-weight: bold;
                margin-right: 10px;
                text-decoration: underline;
            }
        }
    }
    h1 {
        margin-bottom: 10px;
    }
    h2 {
        margin-block: 15px;
    }
    h3 {
        margin-top: 20px;
        color: rgb(253, 211, 199)
    }
}