@import './Variables.scss';

.responsiveMenu {
    display: none;
}

header {
    // border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: $paddingInline;
    position: relative;
    z-index: 5;

    @media screen and (max-width: 900px) {
        padding-inline: $paddingInlineRespinsive;
    }

    >h1 {
        font-family: "Caveat", cursive;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 3rem;
        // background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
        // color: transparent;
        // background-clip: text;

        span {
            color: red;

        }
    }

    >.menuBar {
        display: none;
        cursor: pointer;
        position: relative;
        z-index: 5;

        svg {
            width: 40px;
            height: 40px;
            position: relative;
            z-index: 5;

            &:hover {
                path {
                    stroke-dasharray: 1000;
                    stroke-dashoffset: 1000;
                    animation: svgAnimation 7s forwards;
                }

                @keyframes svgAnimation {
                    to {
                        stroke-dashoffset: 0;
                    }
                }
            }
        }

        >.circle {
            // display: none;
            position: absolute;
            // top: -500px;
            // right: -500px;
            top: 40%;
            left: 35%;
            transform: translate(-35%, -40%);
            width: 0;
            height: 0;
            border: none;
            border-radius: 50%;
            // border-bottom-left-radius: 50%;
            background: red;
            z-index: 1;
            transition: all 0.5s;
        }

        .view {
            // top: -200px;
            // right: -150px;
            width: 400px;
            height: 400px;
            // transform: scale(3);
            transition: all 0.1s;
        }
    }
}

ul {
    list-style: none;
    display: flex;
    width: 550px;
    justify-content: space-between;
    position: relative;
    // overflow: hidden;
    // border: 1px solid rgb(255, 255, 255);

    a {
        text-decoration: none;
        font-weight: 500;
        color: white;
        font-size: 1.05rem;
        position: relative;
        padding-block: 5px;
        padding-inline: 10px;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 2px;
            background-color: rgb(255, 255, 255);
            transition: all 0.3s;
            opacity: 0.2;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0px;
            right: 0px;
            height: 100%;
            width: 2px;
            background-color: rgb(255, 255, 255);
            transition: all 0.3s;
            opacity: 0.2;
        }


        &:hover {
            &::before {
                // top: 0;
                height: 2px;
                width: 100%;
                opacity: 1;
            }

            &::after {
                // bottom: 0;
                height: 2px;
                width: 100%;
                // transform-origin: right;
                opacity: 1;
            }
        }
    }
}
.selectedRoute {
    &::before {
        // top: 0;
        height: 2px;
        width: 100%;
        opacity: 1;
    }

    &::after {
        // bottom: 0;
        height: 2px;
        width: 100%;
        // transform-origin: right;
        opacity: 1;
    }
}

@media screen and (max-width: 900px) {
    header {
        ul {
            display: none;
        }

        .menuBar {
            display: block;
        }

        .circle {
            display: block;
        }
    }

    .responsiveMenu {
        position: absolute;
        top: 50px;
        right: 0;
        // right: 50px;
        // border: 1px solid green;
        // background: #000;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-evenly;
        padding-inline: $paddingInlineRespinsive;
        // background: yellow;
        // border: 1px solid red;
        overflow: hidden;
        transition: all 0.2s;
        z-index: 5;

        >a {
            text-decoration: none;
            font-size: 1.1rem;
            font-weight: 900 !important;
            color: rgb(255, 255, 255)
        }
    }
}