Header {
    // border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 100px;

    >h1 {
        font-family: "Caveat", cursive;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 3rem;
        span {
            color: red;
        }
    }

    >ul {
        list-style: none;
        display: flex;
        width: 550px;
        justify-content: space-between;
        position: relative;
        // overflow: hidden;
        // border: 1px solid rgb(255, 255, 255);

        // .activeTab {
        //     position: absolute;
        //     top: 50%;
        //     left: 0;
        //     transform: translateY(-50%);
        //     width: 50px;
        //     height: 40px;
        //     border: 1px solid red;
        //     // transition:  all 0.3s;
        // }

        a {
            text-decoration: none;

            >li {
                font-weight: 500;
                color: white;
                font-size: 1.05rem;
                position: relative;
                cursor: pointer;

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    // transform: translateY(-50%);
                    // left: 0;
                    transform: translate(-50%, -50%);
                    border-block: 2px solid white;
                    border-top-style: dashed;
                    border-bottom-style: dashed;
                    height: 200%;
                    width: 200%;
                    opacity: 0;
                    // transform-origin: left;
                    transition: all 0.3s;
                }

                &:hover {
                    &::after {
                        height: 150%;
                        width: 150%;
                        opacity: 1;
                        // transform-origin: right;
                    }
                }
            }
        }

    }
}