@import './Variables.scss';

.attributionDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    // transform: translateX(-50%);
    width: 350px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    // -webkit-box-shadow: 12px 12px 39px #36383e, -12px -12px 39px #000000;
    // box-shadow: inset  50px 50px rgba(4, 0, 255, 0.491);
    // mix-blend-mode: overlay;
    box-shadow: inset 50px 50px rgb(255, 106, 69);
    color: black;
    padding: 20px;
    display: flex;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

    >svg {
        cursor: pointer;
        position: absolute;
        top: 15px;
        font-size: 25px;
        right: 15px;
        // color: white;
    }

    >img {
        margin-right: 20px;
        height: 64px;
        width: 64px;
        // border-radius: 50%;
    }

    h3 {

        // color: white;
        em {
            color: red;
        }
    }

    p {

        // font-size: 20px;
        span {
            color: red;
            font-family: "Caveat", cursive;
            font-optical-sizing: auto;
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
        }
    }
}

.userDetails-downloadLink {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    p,
    h3 {
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
        user-select: none;
    }

    >.userDetails {
        display: flex;
        align-items: center;

        img {
            border: none;
            border-radius: 50%;
            // object-fit: cover;
            width: 50px;
            margin-right: 20px;
        }

        .nameID {
            p {
                font-size: 1.2rem;
            }

            .id {
                display: flex;

                // justify-content: space-between;
                a {
                    color: white;
                    font-size: 1.1rem;
                    margin-right: 10px;
                }
            }
        }
    }

    >.dropdown {
        position: relative;

        // bor
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 120px;
            height: 40px;
            font-size: 1.05rem;
            cursor: pointer;
            border: none;
            border-radius: 5px;

            svg {
                font-size: 20px;
                margin-left: 5px;
                height: 100%;
                // transition: all 0.3s;
                // border-left: 1px solid;
            }
        }

        >.dropdownContentDiv {
            position: absolute;
            background: #000000b7;
            width: 100%;
            right: 0;
            padding-inline: 10px;
            border: none;
            border-radius: 5px;

            >p {
                // text-align: center;
                font-size: 1.03rem;
                display: flex;
                justify-content: space-between;
                margin-block: 15px;
                cursor: pointer;
                transition: all 0.1s;

                &:hover {
                    opacity: 0.5 !important;

                    svg {
                        path {
                            stroke-dasharray: 1000;
                            stroke-dashoffset: 1000;
                            animation: svgAnimation 5s forwards;
                        }

                        @keyframes svgAnimation {
                            to {
                                stroke-dashoffset: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        margin-bottom: 10px;
    }
}

.ModalImage {
    // height: calc(100vh - 50px - 20px - 140px);
    cursor: url('../assets/zoom-in.png') 12 12, zoom-in;
    margin-block: 10px;
    @media screen and (max-width: 900px) {
        width: calc(90vw);
        height: auto !important;
    }
}

.imageDetails {
    // border: 1px solid red;
    width: 100%;

    p,
    h3 {
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
        user-select: none;
    }

    >.description {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }

    >.variableData {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 10px;

        >.variableDataContent {
            text-align: start;
        }

        button {
            width: 100px;
            height: 40px;
            border: none;
            border-radius: 5px;
            font-size: 1.1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            svg {
                margin-right: 5px;
                font-size: 1rem;
                cursor: pointer;
            }
        }
    }

    >.constantData {
        // >.details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        p {
            display: flex;
            align-items: center;
            font-size: 1.05rem;
            margin-block: 10px;

            svg {
                font-size: 1.2rem;
                margin-right: 5px;
            }

            a {
                color: white;
                margin-left: 4px;
            }
        }

        >.dropdown {
            position: relative;

            >p {
                cursor: pointer;

                svg {
                    margin-left: 5px;
                }
            }


            >.dropdownContentDiv {
                position: absolute;
                background: #000000b7;
                width: 100%;
                right: 0;
                bottom: 25px;
                padding: 10px;
                border: none;
                border-radius: 5px;

                >p {
                    font-size: 1.03rem;
                    display: flex;
                    justify-content: space-between;
                    margin-block: 5px;
                }
            }
        }

        // }
        @media screen and (max-width: 1000px) {
            margin-top: 15px;

            >p {
                margin-block: 5px;
            }
        }
    }
}