@import '../Variables.scss';

.FeatureImgText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-inline: $paddingInline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;

    // border: 1px solid green;
    img {
        width: 500px;
    }

    .text {
        margin-top: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        h1 {
            font-size: 40px;
        }

    }

    &:nth-child(even) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        margin-block: 30px;

    }

    // @media screen and (max-width: 560px) {
    // }

    @media screen and (max-width: 900px) {
        padding-inline: $paddingInlineRespinsive;
    }

    @media screen and (max-width: 560px) {
        img {
            width: calc(100vw - ($paddingInlineRespinsive * 2));
        }

        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }
}