.ImageCarousel {
    height: 400px;
    width: 100vw;
    // overflow: hidden;
    // border: 1px solid red;
    position: relative;
    transition: all 0.3s;

    >.wrapper {
        display: flex;
        position: absolute;
        top: 0;
        // overflow-x: hidden;

        .imagesContainer {
            height: 400px;
            min-width: 400px;
            margin-inline: 5px;
            overflow: hidden;

            img {
                height: 400px;
                width: 400px;
                object-fit: cover;
                transition: all 0.3s;
            }

            &:hover {
                img {
                    transform: scale(1.2);
                }
            }
        }
    }

    &:nth-child(odd) {
        // border: 5px solid rgb(255, 255, 0);
        margin-bottom: 5px;
        >.wrapper {
            left: 0;
            animation: carousalAnimation1 200s linear infinite;
        }
    }

    &:nth-child(even) {
        margin-top: 5px;
        // border: 5px solid rgb(255, 0, 0);

        >.wrapper {
            position: absolute;
            right: 0;
            // bottom: 0;
            animation: carousalAnimation2 200s linear infinite;
        }
    }

    &::before, &::after {
        content: "";
        height: 100%;
        width: 150px;
        position: absolute;
        top: 0px;
        z-index: 2;
    }
    &::before{
        left: 0px;
        background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0) 100%);
    }
    &::after{
        right: 0;
        background: linear-gradient(to left, black 0%, rgba(0, 0, 0, 0) 100%);
    }

    >.wrapper {
        &:hover {
            animation-play-state: paused;
        }
    }



    @keyframes carousalAnimation1 {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes carousalAnimation2 {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(100%);
        }
    }
}