.ImageCarousel {
    height: 410px;
    width: 100vw;
    // overflow: hidden;
    position: relative;
    transition: all 0.3s;

    >.wrapper {
        display: flex;
        position: absolute;
        top: 0;
        // overflow-x: hidden;

        .imagesContainer {
            height: 400px;
            min-width: 400px;
            margin-inline: 5px;
            overflow: hidden;

            >img {
                height: 400px;
                width: 400px;
                object-fit: cover;
                transition: all 0.3s;
            }

            &:hover {
                >img {
                    transform: scale(1.2);
                }
            }
        }
    }

    &:nth-child(odd) {
        // border: 5px solid rgb(255, 255, 0);
        margin-bottom: 5px;
        >.wrapper {
            left: 0;
            animation: carousalAnimation1 150s linear infinite;
        }
    }

    &:nth-child(even) {
        margin-top: 5px;
        // border: 5px solid rgb(255, 0, 0);

        >.wrapper {
            position: absolute;
            right: 0;
            // bottom: 0;
            animation: carousalAnimation2 150s linear infinite;
        }
    }

    >.wrapper {
        &:hover {
            animation-play-state: paused;
        }
    }



    @keyframes carousalAnimation1 {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes carousalAnimation2 {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(100%);
        }
    }
}