main {
    padding-block: 100px;


    >.bannerWrapper {
        margin-top: 100px;
        height: 250px;
        position: relative;

        >.banner {
            width: 90%;
            height: 90%;
            position: absolute;
            top: 50%;
            left: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
            -webkit-transform-origin: center;
            -ms-transform-origin: center;
            transform-origin: center;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;

            >h1 {
                font-size: 2.5rem;
                text-align: center;
            }

            >p {
                font-size: 1.2rem;
            }

            @media screen and (max-width: 600px) {
                >h1 {
                    font-size: 2rem;
                }

                >p {
                    font-size: 1rem;
                }
            }

            &:nth-child(1) {
                background: #007bffac;
                -webkit-transform: translate(-50%, -50%) rotate(1deg);
                -ms-transform: translate(-50%, -50%) rotate(1deg);
                transform: translate(-50%, -50%) rotate(1deg);
            }

            &:nth-child(2) {
                background: #FFFF00;
                -webkit-transform: translate(-50%, -50%) rotate(-1deg);
                -ms-transform: translate(-50%, -50%) rotate(-1deg);
                transform: translate(-50%, -50%) rotate(-1deg);
            }

            &:nth-child(3) {
                background: #ff8800ac;
                -webkit-transform: translate(-50%, -50%) rotate(0deg);
                -ms-transform: translate(-50%, -50%) rotate(0deg);
                transform: translate(-50%, -50%) rotate(0deg);
            }
        }


        &:hover {
            .banner {

                &:nth-child(1) {
                    background: #007bff;
                    -webkit-transform: translate(-50%, -50%) rotate(3deg) skewX(-5deg);
                    -ms-transform: translate(-50%, -50%) rotate(3deg) skewX(-5deg);
                    transform: translate(-50%, -50%) rotate(3deg) skewX(-5deg);
                }

                &:nth-child(2) {
                    background: #ff5e00;
                    -webkit-transform: translate(-50%, -50%) rotate(-3deg) skewX(5deg);
                    -ms-transform: translate(-50%, -50%) rotate(-3deg) skewX(5deg);
                    transform: translate(-50%, -50%) rotate(-3deg) skewX(5deg);
                }

                &:nth-child(3) {
                    background: white;
                    -webkit-transform: translate(-50%, -50%) rotate(0deg) skewX(-5deg);
                    -ms-transform: translate(-50%, -50%) rotate(0deg) skewX(-5deg);
                    transform: translate(-50%, -50%) rotate(0deg) skewX(-5deg);
                    color: black;
                }
            }
        }
    }
}