main {
    padding-block: 100px;
    // background: rgb(114, 85, 85);


    >.bannerWrapper {
        margin-top: 100px;
        // border: 1px solid red;
        height: 250px;
        position: relative;

        >.banner {
            width: 90%;
            height: 90%;
            // border: 1px solid red;
            position: absolute;
            top: 50%;
            left: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            transform-origin: center;
            transition: all 0.3s;

            >h1 {
                font-size: 2.5rem;
                text-align: center;
            }

            >p {
                font-size: 1.2rem;
            }

            @media screen and (max-width: 600px) {
                >h1 {
                    font-size: 2rem;
                }

                >p {
                    font-size: 1rem;
                }
            }

            &:nth-child(1) {
                background: #007bffac;
                transform: translate(-50%, -50%) rotate(1deg);
            }

            &:nth-child(2) {
                background: #FFFF00;
                transform: translate(-50%, -50%) rotate(-1deg);
            }

            &:nth-child(3) {
                background: #ff8800ac;
                transform: translate(-50%, -50%) rotate(0deg);
            }
        }


        &:hover {
            .banner {
                // h1 {
                //     // background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
                //     background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
                //     color: transparent;
                //     background-clip: text;
                // }

                &:nth-child(1) {
                    background: #007bff;
                    transform: translate(-50%, -50%) rotate(3deg) skewX(-5deg);
                }

                &:nth-child(2) {
                    background: #ff5e00;
                    transform: translate(-50%, -50%) rotate(-3deg) skewX(5deg);
                }

                &:nth-child(3) {
                    background: white;
                    transform: translate(-50%, -50%) rotate(0deg) skewX(-5deg);
                    color: black;
                }
            }
        }
    }
}