@import '../Variables.scss';
.HeroSection {
    // height: 100px;
    // border: 1px solid red;

    >.catagories {
        height: 60px;
        width: 100%;
        // border: 1px solid greenyellow;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        // padding: 20px;
        >.slider {
            position: absolute;
            height: 60px;
            width: 50px;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(128, 128, 128, 0.132);
            backdrop-filter: blur(10px);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            user-select: none;

            &:nth-child(1) {
                left: 0;
            }

            &:nth-last-child(1) {
                right: 0;
            }

            svg {
                font-size: 1.5rem;
            }
        }

        .topicsDiv {
            width: 100%;
            display: flex;
            overflow-x: auto;
            padding-inline: 20px;
            scroll-behavior: smooth;

            &::-webkit-scrollbar {
                display: none;
            }

            p {
                text-wrap: nowrap;
                margin-inline: 15px;
                cursor: pointer;

                &:nth-child(1) {
                    margin-left: 50px;
                }

                &:nth-last-child(1) {
                    margin-right: 50px;
                }
            }
        }
    }

    >.search-Text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $paddingInline;
        // border: 1px solid salmon;

        >.text {
            width: 400px;
            // border: 1px solid orange;

            >h1 {
                font-size: 3rem;
                font-weight: 400;
                margin-bottom: 10px;
            }

            >p {
                font-size: 1.2rem;
            }
        }

        >.searchDiv {
            width: 400px;
            height: 50px;
            display: flex;
            align-items: center;
            // border: 1px solid rgb(217, 255, 0);
            border-radius: 25px;
            background: white;
            overflow: hidden;

            >input {
                height: 100%;
                width: calc(100% - 50px);
                border: none;
                outline: none;
                font-size: 27px;
                padding-left: 20px;
            }

            >.svgWrapper {
                width: 50px;
                background: #dedede;

                svg {
                    width: 30px;
                    // font-size: 30px;
                    margin-left: 8px;
                    // margin-right: 5px;
                    // fill: gray;
                    cursor: pointer;
                }

                &:hover {
                    svg {
                        path {
                            stroke-dasharray: 1000;
                            /* Adjust this value as needed */
                            stroke-dashoffset: 1000;
                            animation: svgAnimation 5s forwards;
                        }

                        @keyframes svgAnimation {
                            to {
                                stroke-dashoffset: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}