@import '../Variables.scss';

.HeroSection {

    >.catagories {
        height: 60px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;

        // padding: 20px;
        >.slider {
            position: absolute;
            height: 60px;
            width: 50px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            background: rgba(128, 128, 128, 0.132);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;

            &:active {
                -webkit-transform: scale(0.85) translateY(-50%);
                -ms-transform: scale(0.85) translateY(-50%);
                transform: scale(0.85) translateY(-50%);
            }

            &:nth-child(1) {
                left: 0;
            }

            &:nth-last-child(1) {
                right: 0;
            }

            svg {
                font-size: 1.5rem;
            }
        }

        .topicsDiv {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            overflow-x: auto;
            padding-inline: 20px;
            scroll-behavior: smooth;

            @media screen and (max-width: 900px) {
                padding: 0px;
            }

            &::-webkit-scrollbar {
                display: none;
            }

            p {
                text-wrap: nowrap;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                margin-inline: 15px;
                cursor: pointer;

                &:nth-child(1) {
                    margin-left: 50px;
                }

                &:nth-last-child(1) {
                    margin-right: 50px;
                }
            }
        }
    }

    >.search-Text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: $paddingInline;

        @media screen and (max-width: 900px) {
            padding: $paddingInlineRespinsive;
        }

        >.text {

            >h1 {
                font-size: 3rem;
                font-weight: 400;
                margin-right: 10px;
            }

            >p {
                font-size: 1.2rem;
                margin-bottom: 20px;
            }
        }

        >.searchDiv {
            width: 400px;
            height: 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border-radius: 25px;
            background: #2f3640;
            overflow: hidden;

            >input {
                height: 100%;
                width: calc(100% - 49px);
                border: none;
                outline: none;
                font-size: 27px;
                padding-left: 20px;
                color: gray;
                background: #2f3640;

                &::placeholder {
                    color: gray;
                }
            }

            >.svgWrapper {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background: #f47474;
                background: -webkit-gradient(linear, left top, right top, from(#2AF598), to(#009EFD));
                background: -o-linear-gradient(left, #2AF598 0%, #009EFD 100%);
                background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;

                svg {
                    width: 30px;
                    height: 30px;
                    margin-left: 3px;
                    cursor: pointer;
                }

                &:hover {
                    svg {
                        path {
                            stroke-dasharray: 1000;
                            stroke-dashoffset: 1000;
                            animation: svgAnimation 5s forwards;
                        }

                        @keyframes svgAnimation {
                            to {
                                stroke-dashoffset: 0;
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 600px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            >.text {
                >h1 {
                    margin: 0 0 10px 0;
                }
            }

            >.searchDiv {
                width: 100%;
            }
        }
    }
}