@import '../Variables.scss';

.Modal {
    position: fixed;
    top: 0;
    left: 0;
    // transform: translateX(-50%);
    height: 100vh;
    // border: 1px solid red;
    padding-inline: $paddingInline;
    width: 100%;
    // background-color: #242424;
    z-index: 50;
    background-color: #242424ce;
    backdrop-filter: blur(10px);
    padding-block: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
    overscroll-behavior: contain;
    // scroll-behavior: smooth;
    &::-webkit-scrollbar {
        display: none;
    }


    @media screen and (max-width: 1000px) {
        padding-inline: $paddingInlineRespinsive;
        padding-top: 34px;
    }

    >.hideModal {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;

        svg {
            font-size: 30px;
        }
        @media screen and (max-width: 1000px) {
            top: 5px;
            right: $paddingInlineRespinsive;
        }
    }
}